
@{
    ViewBag.Title = "Civilithation";
}


<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Sid Meier’s Civilization VII (Civilization VII)</h3>
                <span class="breadcrumb"><a href="#">Home</a>  >  <a href="#">Shop</a>  > Civilization VII </span>
            </div>
        </div>
    </div>
</div>

<div class="single-product section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="~/content/images/games/Civilization.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <h4>Civilization VII</h4>
                <span class="price"><em>$60</em> $30</span>
                <p>The award-winning strategy game franchise returns with a revolutionary new chapter. Sid Meier's Civilization® VII empowers you to build the greatest empire the world has ever known!</p>
                <form id="qty" action="#">
                    <input type="number" name="qty" class="form-control" id="quantity" min="1" value="1" />
                    <button type="submit"><i class="fa fa-shopping-bag"></i> ADD TO CART</button>
                </form>
                <ul>
                    <li><span>Game ID:</span> CIVIlIV</li>
                    <li><span>Genre:</span> <a href="#">Strategy</a>, <a href="#">Team</a>, <a href="#">Single</a></li>
                    <li><span>Multi-tags:</span> <a href="#">War</a>, <a href="#">Battle</a>, <a href="#">Strategy</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="sep"></div>
            </div>
        </div>
    </div>
</div>

<div class="more-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-content">
                    <div class="row">
                        <div class="nav-wrapper ">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
                                </li>

                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                                <p>
                                    The award-winning strategy game franchise returns with a revolutionary new chapter. Sid Meier's Civilization® VII empowers you to build the greatest empire the world has ever known!

                                    In Civilization VII, your strategic decisions shape the unique cultural lineage of your evolving empire. Rule as one of many legendary leaders from throughout history and steer the course of your story by choosing a new civilization to represent your empire in each Age of human advancement.

                                    Construct cities and architectural wonders to expand your territory, improve your civilization with technological breakthroughs, and conquer or cooperate with rival civilizations as you explore the far reaches of the unknown world. Pursue prosperity in an immersive solo experience or play with others in online multiplayer.**

                                    Whether you choose to follow a path rooted in history or reimagine possibilities to chart your own way forward, build something you believe in and create a legacy that echoes through the Ages in Civilization VII.


                                </p>
                                <br>
                                <p></p>
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section categories related-games">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h6>Need another games ?</h6>
                    <h2>More Game Hub Games </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="main-button">
                    <a href="@Url.Action("Shop", "Home")">View All</a>
                </div>
            </div> 
        </div>   
    </div>     
</div>       
