
@{
    ViewBag.Title = "Helldivers_2";
}

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Helldivers 2 </h3>
                <span class="breadcrumb"><a href="#">Home</a>  >  <a href="#">Shop</a>  > Helldivers </span>
            </div>
        </div>
    </div>
</div>

<div class="single-product section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="~/content/images/games/Helldivers.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <h4>Helldivers 2</h4>
                <span class="price"><em>$40</em> $25</span>
                <p>“The Galaxy’s Last Line of Offence. Enlist in the Helldivers and join the fight for freedom across a hostile galaxy in a fast, frantic, and ferocious third-person shooter.”</p>
                <form id="qty" action="#">
                    <input type="qty" class="form-control" id="1" aria-describedby="quantity" placeholder="1">
                    <button type="submit"><i class="fa fa-shopping-bag"></i> ADD TO CART</button>
                </form>
                <ul>
                    <li><span>Game ID:</span> Hell2</li>
                    <li><span>Genre:</span> <a href="#">Shooter</a>, <a href="#">Team</a>, <a href="#">Single</a></li>
                    <li><span>Multi-tags:</span> <a href="#">War</a>, <a href="#">Battle</a>, <a href="#">Action</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="sep"></div>
            </div>
        </div>
    </div>
</div>

<div class="more-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-content">
                    <div class="row">
                        <div class="nav-wrapper ">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                                <p>
                                    HELLDIVERS™2 is a hardcore, cooperative, twin stick shooter. As part of the elite unit called the HELLDIVERS, players must work together to protect SUPER EARTH and defeat the enemies of mankind in an intense intergalactic war
                                </p>
                                <br>
                                <p></p>
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section categories related-games">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h6>Need another games ?</h6>
                    <h2>More Game Hub Games </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="main-button">
                    <a href="@Url.Action("Shop", "Home")">View All</a>
                </div>
