
@{
    ViewBag.Title = "Stone_Simulator";
}

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Stone Simulator </h3>
                <span class="breadcrumb"><a href="#">Home</a>  >  <a href="#">Shop ></a> Stone Simulator  </span>
            </div>
        </div>
    </div>
</div>

<div class="single-product section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="~/content/images/games/Stone.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <h4>Stone Simulator</h4>
                <span class="price"><em>$10</em> $5</span>
                <p>
                    Stone Simulator is a meditative idle game where you live as a rock enduring endless seasons and absurd events. Survive storms, unlock quirky achievements, and observe a serene, ever-changing world. Perfect for Zen-like relaxation or meme-worthy humor.
                    <form id="qty" action="#">
                        <input type="qty" class="form-control" id="1" aria-describedby="quantity" placeholder="1">
                        <button type="submit"><i class="fa fa-shopping-bag"></i> ADD TO CART</button>
                    </form>
                    <ul>
                        <li><span>Game ID:</span>Stone</li>
                        <li><span>Genre:</span> <a href="#">Simulator</a>, <a href="#">Action</a>, <a href="#">Single</a></li>
                        <li><span>Multi-tags:</span> <a href="#">Simulator</a>, <a href="#">Action</a></li>
                    </ul>
</div>
            <div class="col-lg-12">
                <div class="sep"></div>
            </div>
        </div>
    </div>
</div>

<div class="more-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-content">
                    <div class="row">
                        <div class="nav-wrapper ">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
                                </li>

                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                                <p>
                                    Be a stone / rock / boulder. Do nothing. Just exist.

                                    Relax, meditate, and watch the seasons change in the most peaceful simulator ever.



                                    Ever wondered what it’s like to be a rock?

                                    Become an unflinching stone in a serene, ever-changing world. Survive centuries of seasons, weather, and absurdly mundane adventures. Grow moss, collect bird poop, and question your existence—Stone Simulator is the Zen meditation you never knew you needed… or the most boring game ever. You decide!


                                    Stone Simulator is a whimsical, meditative experience where you embrace the thrilling life of a literal rock. Observe the world passively as decades fly by, seasons shift, and nature (or chaos) unfolds around you.
                                    <br>
<p></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section categories related-games">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h6>Need another games ?</h6>
                    <h2>More Game Hub Games </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="main-button">
                    <a href="@Url.Action("Shop", "Home")">View All</a>
                </div>

