
@{
    ViewData["Title"] = "Wheel";
}

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Wheel of fortune</h3>
                <span class="breadcrumb"><a href="#">Home</a>  >  Wheel of fortune</span>
            </div>
        </div>
    </div>
</div>

<!-- ***** wheel of fortune***** -->
<div class="contact-page section">
    <head>
        <title>Weiben - Wheel of fortune</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="/content/css/templatemo-lugx-gaming.css" />
    </head>

    <body>
        <div id="app">
            <img class="marker" src="/content/images/marker.png" />
            <img class="wheel" src="/content/images/wheel.png" />
            <button class="button">1000 Freespin</button>
        </div>


    </body>
</div>

