/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

:root {
    --vv-red-light: #ff7070; /* бледно-красный */
    --vv-blue-main: #006aff; /* фирменный синий */
}

.btn-search {
    background-color: var(--vv-red-light) !important;
    border-color: var(--vv-red-light) !important;
    color: #fff;
    transition: background-color .2s ease, border-color .2s ease;
}

    .btn-search:hover,
    .btn-search:focus {
        background-color: var(--vv-blue-main) !important;
        border-color: var(--vv-blue-main) !important;
        color: #fff;
    }